$primary-gray:#f0eef5;
html,body,.page-body,.height-100{

  background: $primary-gray;
}

.f-oh{
  overflow: hidden;
}

.left-nav ul.nav{
  margin: 0;
  padding: 0;

}

.left-nav ul.nav li{
  list-style: none;

width: 100%;
  padding: 1.2em 0.5em;
  color: $gray-700;

  font-size: 0.8em;
}
.left-nav ul.nav li.hover{

  background: white;
  position: relative;
  color:black;
  .cover{
    position: absolute;
    right:-2px;
    top:0;
    bottom:0;
    width: 5px;

    background: white;
  }






}
.company-logo{
  margin-bottom: 5px;
  border: 0;
}


#wrap {

  background: #fefefe;
  margin-left: -10px;
  margin-right: -10px;

  .hiSlider {
    overflow: hidden;


    margin: 0;
    padding: 0;
    .hiSlider-item {
      margin: 0;
      list-style: none;

      float: left;
      max-width: 100%;
      .left-content{
        padding-right: 3px;
        padding-left: 5px;
        width: 20%;
        float:left;
        .padding-top-bottom{
          padding-top: 8px;
          padding-bottom: 5px;
        }
        .company-location{
          font-size: 12px;
        }
      }
      .right-content{
        width: 80%;
        padding-left: 2px;
        float: left;
        padding-right: 5px;
        .padding-top-bottom{
          padding-top: 10px;
          padding-bottom: 10px;
          .banner-company-name{
            font-size: 0.9rem;
          }
          .banner-company-business{
            font-size: 0.8rem;
          }
        }
      }
      img.item{
        max-width: 100%;
        height: 100px;
      }
    }
  }


}



/*  reset 轮播图样式  */
.hiSlider-title{
  display: none;
}
.hiSlider-pages{

  left: 50%;

  .hiSlider-pages-inner{


    overflow: hidden;
    display: block;
    margin-left: -50%;
  }
}

.hiSlider-pages a{
  width: 8px;
  height: 8px;
}

.hiSlider-btn-prev,.hiSlider-btn-next{
  display: none;
}

.company-logo-sm{

}
.base-line{
  border-bottom: 1px solid $gray-300;
  margin-bottom: 15px;
}

.go-up{
    position: fixed;
    right: 10px;
    bottom:10px;

  i{
    font-size: $h1-font-size;

  }
}

.phone-icon{
  color:green;


}

.company-detail-sm{

  max-width: 30px;
}


.exhibition-list{

  .item{
  font-weight: bold;
    line-height: 46px;
    border-bottom: 1px solid $gray-300;
  }
  .active{
    color: $red;
    border-bottom: 1px solid $red;
  }
}

.chat-wrap{
  background: $gray-300;

  padding: 10px;
  position: fixed;
  left:0;
  bottom:0;
  right:0;
}

.content{
  position: relative;
  text-decoration: none;

  .start-tell{
    position: absolute;
    right:10px;
    bottom:17px;
  }
}

.me-line-height{
  line-height: 36px;
}
.icon-iconfontxiangxia1copy19{
  font-size: 15px;
}

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}

.order-bg{
  background: green;
  background: url('../../../img/birds.jpeg') no-repeat left top;
}


.title-line{
  padding: 10px 0; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;
}

.label-gray{

  color:$gray-700;
}

.profile-submit{
  position: fixed;
  left:10px;
  bottom:30px;
  right: 10px;
  display: block;
}

.search-wrap{
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  background: white;
  .search-input{
    box-shadow: none;
    width: 100%;
    outline: none;
    line-height: 2rem;
    border: 1px solid $primary-gray;
    border-radius: 5px;
    height: 2rem;
  }


  .search-icon-global{
    font-size: 1.1rem;
    position: absolute;
    left:20px;
    top:15px;
    color:$gray-600;

  }
  input{
    text-indent: 30px;
    font-size: 0.9rem;
    corlor:$gray-500;
    background: #efeff4;
    line-height: 1.1rem;
    -webkit-appearance: none; /* 方法2 */
  }
}

.main-content{
  background: $primary-gray;
  padding-top: 10px;
  margin-right: -10px;
  background: white;

}
.white-line{
  background: white;
  width: 5px;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
}

.hiSlider-pages a{
  width: 5px !important;
  height: 5px !important;
}
.logo-pic{
  height: 70px;
  width: 100%;
  padding: 10px;

}
.pro-name{

  font-size: 0.8rem;
}
.catalogue-name{
  position: relative;
  border-bottom:2px solid #c0c0c0;
  margin-bottom: 10px;
  line-height: 2rem;
  font-size: 0.9rem;
  .jianjian{
    img{
      display: block;
    }

    width: 162px;
    height: 16px;
    position: absolute;
    left:0px;
    bottom:-6px;
  }
}
.gray-bg{
  background: $primary-gray;
  margin-left: 5px;
}